.vs/
bin/
obj/
Examen1_LeonardoMadrigal/bin/Debug/net8.0/Examen1_LeonardoMadrigal.dll
Examen1_LeonardoMadrigal/bin/Debug/net8.0/Examen1_LeonardoMadrigal.exe
Examen1_LeonardoMadrigal/bin/Debug/net8.0/Examen1_LeonardoMadrigal.pdb
Examen1_LeonardoMadrigal/obj/Debug/net8.0/ref/Examen1_LeonardoMadrigal.dll
Examen1_LeonardoMadrigal/obj/Debug/net8.0/refint/Examen1_LeonardoMadrigal.dll
Examen1_LeonardoMadrigal/obj/Debug/net8.0/Examen1_LeonardoMadrigal.pdb
Examen1_LeonardoMadrigal/obj/Debug/net8.0/Examen1_LeonardoMadrigal.dll
Examen1_LeonardoMadrigal/bin/Debug/net8.0/Examen1_LeonardoMadrigal.dll
Examen1_LeonardoMadrigal/bin/Debug/net8.0/Examen1_LeonardoMadrigal.exe
Examen1_LeonardoMadrigal/bin/Debug/net8.0/Examen1_LeonardoMadrigal.pdb
Examen1_LeonardoMadrigal/obj/Debug/net8.0/refint/Examen1_LeonardoMadrigal.dll
