@model Examen1_LeonardoMadrigal.Models.Usuario

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                @* <div class="form-group">
                    <label asp-for="RutaImagen" class="control-label"></label>
                    <input asp-for="RutaImagen" class="form-control" />
                    <span asp-validation-for="RutaImagen" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="RutaImagen" class="control-label">Imagen de perfil</label>
                    <input type="file" name="imagenPerfil" class="form-control" accept="image/*" />
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RolId" class="control-label"></label>
                    <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId">
                        <option value="">Seleccione un rol</option>
                    </select>
                    <span asp-validation-for="RolId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EstadoId" class="control-label"></label>
                    <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId">
                        <option value="">Seleccione un estado</option>
                    </select>
                    <span asp-validation-for="EstadoId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
