@model IEnumerable<Examen1_LeonardoMadrigal.Models.Notificaciones>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Notificaciones</title>
</head>
<body>

<h2>Notificaciones</h2>

<table class="table">
    <thead>
        <tr>
            <th>Mensaje</th>
            <th>Libro</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Mensaje</td>
                <td>@item.Libro?.Titulo</td>
                <td>@item.FechaSolicitud.ToString("dd/MM/yyyy HH:mm")</td>
            </tr>
        }
    </tbody>
</table>

</body>
</html>
